/* Headings  */
h1::before {
    content: "▪︎ ";
}



/* Beschrijving upcomingreleases */
.infocontainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.infocontainer section:first-of-type {
    padding: 1em;
    border-top: solid 0.1em var(--color-border);
}

.infocontainer section:first-of-type p {
    position: relative;
    max-width: 36em;
    padding: 1em 0em 1em 0em;
    max-height: 4em;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.infocontainer section:first-of-type p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-image: linear-gradient(transparent, var(--color-background));
    transition: opacity .6s ease;
}

.infocontainer section:first-of-type.max p {
    max-height: 17em;
}

.infocontainer section:first-of-type.max p::after {
    opacity: 0;
}

.infocontainer section:first-of-type button {
    background: none;
    border: none;
    color: var(--color-text);
}



/* Stop & pauze button voor animatie */
main button:nth-child(2) img {
    width: 2.5em;
    height: 2.5em;
}

main button:nth-child(2) {
    background: none;
    border: none;
}



/* Product aantal */
.productamount {
    display: flex;
    justify-content: center;
    padding: 1em;
    border-top: 0.1em solid var(--color-border);
}

/* Product aantal mobiel scherm */
@media (max-width: 36em) {
    .productamount {
        display: none;
    }
}



/* Grid products */
/* Bron: DLO - Werkgroep 3  */

.productgrid ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 0.1em 0em 0;
}

/* Grid products mobiel scherm */
@media (width> 32em) {
    .productgrid ul {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }
}

.productgrid li {
    border-style: solid;
    border-width: 0em 0.1em 0.1em 0em;
    border-color: var(--color-border);
}

.productgrid img {
    width: 100%;
    order: -3;
}

.productgrid a {
    display: flex;
    flex-direction: column;
}

.productgrid h4,
.productgrid p {
    padding: 0.5em 1em 1em 1em;
}

.productgrid h3 {
    padding: 1em 0.5em 0em 1em;
}

.productgrid h3::before {
    content: "▪︎ ";
}