* {
    margin: 0;
    padding: 0;
}


/* fonts */
@font-face {
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
}


/* custom properties */
:root {
    --color-text: black;
    --color-background: white;
    --color-button: #00ff0f;
    --color-border: black;
}


/* body */
body {
    background-color: var(--color-background);
}


/* header */
header img {
    width: 1.8em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em;
    z-index: 1;
    border-bottom: 0.1em solid var(--color-border);
    background-color: var(--color-background);
}


/* tekst */
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'inter';
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
}

h2,
h3,
h4,
p,
a {
    font-size: 1em;
}

.footerbottom p,
.footerbottom a {
    text-transform: uppercase;
}

p,
.productgrid h4,
.newarrivals h4,
footer a {
    text-transform: none;
}



/* Visually hiden headings  */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}


/* navigatiebalk desktop*/
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    translate: -100% 0%;
    transition: translate .3s;
    background-color: var(--color-background)
}

nav.toonMenu {
    translate: 0% 0%;
}

nav ul li {
    background-color: var(--color-background);
    display: flex;
    padding: 1em;
    border-bottom: 0.1em solid var(--color-border);
}

nav ul li:nth-child(9) {
    margin-top: 10em;
    border-bottom: none;
    border-top: 0.1em solid var(--color-border);
    padding: 0.5em 0em 0.5em 1em;
}

nav ul li:nth-child(10) {
    border: none;
    padding: 0.5em 0em 0.5em 1em;
}

nav ul li:nth-child(11) {
    padding: 0.5em 0em 0.5em 1em;
}


/* navigatiebalk mobiel */
.smallmenu {
    display: flex;
    gap: 1em;
    align-items: center;
}

/* nav {
    border-bottom: 0.1em solid black;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0em;
    padding: 0.5em;
}

nav ul img {
    width: 1.8em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

nav ul li:nth-child(3) img {
    width: 3em;
}

nav li:nth-child(2) {
    margin-right: auto;
}

nav li:nth-child(3) {
    margin-right: auto;
} */


/* links style & states */
a {
    text-decoration: none;
    color: var(--color-text);
}

a:visited {
    color: var(--color-text);
    font-weight: 700;
}

a:active {
    text-decoration: underline;
}

a:hover,
button:hover,
form input:hover {
    text-decoration: underline;
    font-weight: 700;
}

a:focus,
button:focus {
    border: 0.1em solid var(--color-border);
    padding: 0.2em;
    font-weight: 700;
    font-size: 1.1em;
    outline-color: var(--color-border);
}

form input:focus {
    border: 0.1em solid var(--color-border);
    padding: 0.2em;
    outline-color: var(--color-border);
}


/* animatie top & bottom main */
.animation {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: slide 10s linear infinite;
}

.animation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    font-size: 1em;
}

.animation a::before {
    content: "▪︎ ";
}

.animation:last-of-type ul li a{
    font-size: 2em;

}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* footer navigatie */
form input {
    border: none;
    border-bottom: 0.1em solid var(--color-border);
    height: 3em;
    width: 100%;
}

form button {
    border: none;
    border-radius: 10em;
    height: 2em;
    background-color: var(--color-button);
    margin-top: 1em;
    width: 100%;
}


/* grid in footer navigatie */
.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 0.1em 0em 0em;
    border-color: var(--color-border);
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

}

.footergrid section {
    border-style: solid;
    border-width: 0em 0.1em 0.1em 0em;
    border-color: var(--color-border);
    background-color: var(--color-background);
    padding: 1em;
}

.footergrid h4::before {
    content: "▪︎ ";
}

.footergrid li {
    padding: 0.5em 0em 0em 0em;
}

.footergrid h4 {
    padding: 0em 0em 1em 0em;
}


/* onderste balk in footer */
.footerbottom {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
}

.footerbottom li {
    display: inline;
}

.footerbottom ul {
    margin-left: auto;
}

.footerbottom a img {
    display: block;
    margin: 0em 0em 0em 1em;
    width: 1.5em;
}


/* Voor desktop scherm */
@media (min-width:64em){
    header>button {
        display: none;
    }

    .smallmenu {
        display: none;
    }

    nav {
        position: static;
        translate: unset;
        padding: 0;
        background: none;
    }

    nav ul {
        display: flex;
        gap: 1em;
        text-wrap: nowrap;
    }

    nav ul li, nav ul li:nth-child(9), nav ul li:nth-child(10),nav ul li:nth-child(11) {
        margin: 0em;
        border: none;
        padding: 0em;
    }
nav ul li:last-of-type{
    display: none;
}
}