@font-face{
    font-family:'inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight:medium;
}

@font-face{
    font-family:'inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight:bold;
}



h1 {

font-family:'inter';
}

p {

    font-family:'inter';
}